*{
    font-family: 'Courier New';
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --text-color: #fff;
    --main-color: #df0b0b;
    --background: #252423;
    --color-orange: #b67331;
}


body{
    background: #f9eee4;
    overflow-x: hidden;
}


span{
    color: #b67331;
}

.icons a{
    display: inline-flex;
    justify-content: left;
    align-items: left;
    font-size: 2rem;
    padding: 5px;
    background: transparent;
    border: 2px solid var(--text-color);
    border-radius: 30px;
    color: var(--text-color);
    margin: 3rem 0.5rem;
    transition: 0.5s ease;
}

.icons a:hover{
    color: var(--text-color);
    background-color: var(--color-orange);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--color-orange);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background-color: var(--background);
    padding: 170px 30px;
    text-align: center;
}

.profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #b67331;
    margin-bottom: 10px;
}

.profile h2{
    font-size: 40px;
    color: aliceblue;
}

.profile p{
    font-size: 20px;
    color: aliceblue;
}

.nav{
    width: 100%;
    margin-top: 30px;
    padding-top: 20px;
}

.nav ul li a {
    display: block;
    padding: 10px;
    margin: 15px 0;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    transition: 0.5s;
    text-transform: uppercase;
}

.nav ul li a:hover{
    color: var(--text-color);
    background-color: var(--color-orange);
    transform: scale(1.1)translateY(-5px);
    box-shadow: 0 0 25px var(--color-orange);
}

.main{
    position: relative;
    height: 100vh;
    width: calc(100% - 350px);
    left: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    margin-top: 5px;
    padding: 50px;
}

.main h3{
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.main h1{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main h1 span{
    color: #b67331;
}

.main p{
    width: 100%;
    max-width: 600px;
    font-weight: 200;
}

.main .btn{
    margin-top: 20px;
    padding: 13px 30px;
    width: 150px;
    height: 50px;
    color: black;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    background: transparent;
    border: 2px solid var(--color-orange);
}

.main .btn:hover{
    color: var(--text-color);
    background-color: var(--color-orange);
    transform: scale(1.1)translateY(-5px);
    box-shadow: 0 0 25px var(--color-orange);
}


